<a href="https://colab.research.google.com/github/Vatsal-Patel-09/Machine_Learning_101/blob/main/LAB_1-nppy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Exercises

### 1.Series & DataFrame Basics
- Given the following list of marks: [78, 85, 92, 70, 66]
- Create a Pandas Series and assign the following student names as indices: ['Amit', 'Bhavna', 'Chetan', 'Divya', 'Esha']
- Display the Series.

In [42]:
import pandas as pd

In [43]:
marks = [78, 85, 92, 70, 66]
names = ['Amit', 'Bhavna', 'Chetan', 'Divya', 'Esha']

In [44]:
arr = pd.Series(marks, index = names)
print(arr)

Amit      78
Bhavna    85
Chetan    92
Divya     70
Esha      66
dtype: int64

Using the following dictionary:

data = {
'Name': ['Amit', 'Bhavna', 'Chetan', 'Divya', 'Esha'],
'Gender': ['Male', 'Female', 'Male', 'Female', 'Female'],
'Math': [78, 85, 92, 70, 66],
'Science': [88, 79, 95, 72, 60]
}

Create a Pandas DataFrame and display:
- The full DataFrame
- The column names
- The shape of the DataFrame

In [45]:
data = {
'Name': ['Amit', 'Bhavna', 'Chetan', 'Divya', 'Esha'],
'Gender': ['Male', 'Female', 'Male', 'Female', 'Female'],
'Math': [78, 85, 92, 70, 66],
'Science': [88, 79, 95, 72, 60]
}

In [46]:
df = pd.DataFrame(data)
print(df)

     Name  Gender  Math  Science
0    Amit    Male    78       88
1  Bhavna  Female    85       79
2  Chetan    Male    92       95
3   Divya  Female    70       72
4    Esha  Female    66       60

In [47]:
print(df.columns)
print(df.shape)

Index(['Name', 'Gender', 'Math', 'Science'], dtype='object')
(5, 4)

### 2.Data Exploration
- Load the dataset from this url "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
- Assign names of columns:

["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style", "drive-wheels","engine-location","wheel-base","length","width","height","curb-weight","engine-type","num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
"peak-rpm","city-mpg","highway-mpg","price"]
- Display .shape, .columns, .info(), and .describe().
- Display only ","width","height","curb-weight","engine-type" columns.
- Display car details which have num-of-doors = four

In [48]:
data_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
column_names = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style", "drive-wheels","engine-location","wheel-base","length","width","height","curb-weight","engine-type","num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
"peak-rpm","city-mpg","highway-mpg","price"]

In [49]:
df_data = pd.read_csv(data_url, names = column_names, delimiter= ",", na_values= "?")

In [50]:
print(df_data.head(5))

   symboling  normalized-losses         make fuel-type aspiration  \
0          3                NaN  alfa-romero       gas        std
1          3                NaN  alfa-romero       gas        std
2          1                NaN  alfa-romero       gas        std
3          2              164.0         audi       gas        std
4          2              164.0         audi       gas        std

  num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0          two  convertible          rwd           front        88.6  ...
1          two  convertible          rwd           front        88.6  ...
2          two    hatchback          rwd           front        94.5  ...
3         four        sedan          fwd           front        99.8  ...
4         four        sedan          4wd           front        99.4  ...

   engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0          130         mpfi  3.47    2.68               9.0      111.0
1          130         mpfi  3.47    2.68               9.0      111.0
2          152         mpfi  2.68    3.47               9.0      154.0
3          109         mpfi  3.19    3.40              10.0      102.0
4          136         mpfi  3.19    3.40               8.0      115.0

   peak-rpm city-mpg  highway-mpg    price
0    5000.0       21           27  13495.0
1    5000.0       21           27  16500.0
2    5000.0       19           26  16500.0
3    5500.0       24           30  13950.0
4    5500.0       18           22  17450.0

[5 rows x 26 columns]

In [51]:
print(df_data.shape)
print(df_data.columns)
print(df_data.info())
print(df_data.describe())

(205, 26)
Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB
None
        symboling  normalized-losses  wheel-base      length       width  \
count  205.000000         164.000000  205.000000  205.000000  205.000000
mean     0.834146         122.000000   98.756585  174.049268   65.907805
std      1.245307          35.442168    6.021776   12.337289    2.145204
min     -2.000000          65.000000   86.600000  141.100000   60.300000
25%      0.000000          94.000000   94.500000  166.300000   64.100000
50%      1.000000         115.000000   97.000000  173.200000   65.500000
75%      2.000000         150.000000  102.400000  183.100000   66.900000
max      3.000000         256.000000  120.900000  208.100000   72.300000

           height  curb-weight  engine-size        bore      stroke  \
count  205.000000   205.000000   205.000000  201.000000  201.000000
mean    53.724878  2555.565854   126.907317    3.329751    3.255423
std      2.443522   520.680204    41.642693    0.273539    0.316717
min     47.800000  1488.000000    61.000000    2.540000    2.070000
25%     52.000000  2145.000000    97.000000    3.150000    3.110000
50%     54.100000  2414.000000   120.000000    3.310000    3.290000
75%     55.500000  2935.000000   141.000000    3.590000    3.410000
max     59.800000  4066.000000   326.000000    3.940000    4.170000

       compression-ratio  horsepower     peak-rpm    city-mpg  highway-mpg  \
count         205.000000  203.000000   203.000000  205.000000   205.000000
mean           10.142537  104.256158  5125.369458   25.219512    30.751220
std             3.972040   39.714369   479.334560    6.542142     6.886443
min             7.000000   48.000000  4150.000000   13.000000    16.000000
25%             8.600000   70.000000  4800.000000   19.000000    25.000000
50%             9.000000   95.000000  5200.000000   24.000000    30.000000
75%             9.400000  116.000000  5500.000000   30.000000    34.000000
max            23.000000  288.000000  6600.000000   49.000000    54.000000

              price
count    201.000000
mean   13207.129353
std     7947.066342
min     5118.000000
25%     7775.000000
50%    10295.000000
75%    16500.000000
max    45400.000000

In [52]:
print(df_data[["width","height","curb-weight","engine-type"]])

     width  height  curb-weight engine-type
0     64.1    48.8         2548        dohc
1     64.1    48.8         2548        dohc
2     65.5    52.4         2823        ohcv
3     66.2    54.3         2337         ohc
4     66.4    54.3         2824         ohc
..     ...     ...          ...         ...
200   68.9    55.5         2952         ohc
201   68.8    55.5         3049         ohc
202   68.9    55.5         3012        ohcv
203   68.9    55.5         3217         ohc
204   68.9    55.5         3062         ohc

[205 rows x 4 columns]

In [53]:
print(df_data[df_data["num-of-doors"] == "four"])

     symboling  normalized-losses   make fuel-type aspiration num-of-doors  \
3            2              164.0   audi       gas        std         four
4            2              164.0   audi       gas        std         four
6            1              158.0   audi       gas        std         four
7            1                NaN   audi       gas        std         four
8            1              158.0   audi       gas      turbo         four
..         ...                ...    ...       ...        ...          ...
200         -1               95.0  volvo       gas        std         four
201         -1               95.0  volvo       gas      turbo         four
202         -1               95.0  volvo       gas        std         four
203         -1               95.0  volvo    diesel      turbo         four
204         -1               95.0  volvo       gas      turbo         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136
6        sedan          fwd           front       105.8  ...          136
7        wagon          fwd           front       105.8  ...          136
8        sedan          fwd           front       105.8  ...          131
..         ...          ...             ...         ...  ...          ...
200      sedan          rwd           front       109.1  ...          141
201      sedan          rwd           front       109.1  ...          141
202      sedan          rwd           front       109.1  ...          173
203      sedan          rwd           front       109.1  ...          145
204      sedan          rwd           front       109.1  ...          141

     fuel-system  bore  stroke compression-ratio horsepower  peak-rpm  \
3           mpfi  3.19    3.40              10.0      102.0    5500.0
4           mpfi  3.19    3.40               8.0      115.0    5500.0
6           mpfi  3.19    3.40               8.5      110.0    5500.0
7           mpfi  3.19    3.40               8.5      110.0    5500.0
8           mpfi  3.13    3.40               8.3      140.0    5500.0
..           ...   ...     ...               ...        ...       ...
200         mpfi  3.78    3.15               9.5      114.0    5400.0
201         mpfi  3.78    3.15               8.7      160.0    5300.0
202         mpfi  3.58    2.87               8.8      134.0    5500.0
203          idi  3.01    3.40              23.0      106.0    4800.0
204         mpfi  3.78    3.15               9.5      114.0    5400.0

    city-mpg  highway-mpg    price
3         24           30  13950.0
4         18           22  17450.0
6         19           25  17710.0
7         19           25  18920.0
8         17           20  23875.0
..       ...          ...      ...
200       23           28  16845.0
201       19           25  19045.0
202       18           23  21485.0
203       26           27  22470.0
204       19           25  22625.0

[114 rows x 26 columns]

### 3. Missing values handling  
- Missing value is represented by ‘?’ in this dataset. Replace it with NULL.
- Check how many missing values are there in each attribute.
- Replace missing values of "normalized-losses", "stroke", "bore", "horsepower" with
mean.
- Drop all the rows which has missing value in attribute “price”.
- Replace missing values of “num-of-doors” with mode.
- Replace all other missing values with median.

In [62]:
print(df_data.head(7).fillna(value = "NULL"))

   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3              NULL  alfa-romero       gas        std          two
1          3              NULL  alfa-romero       gas        std          two
2          1              NULL  alfa-romero       gas        std          two
3          2             164.0         audi       gas        std         four
4          2             164.0         audi       gas        std         four
5          2              NULL         audi       gas        std          two
6          1             158.0         audi       gas        std         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
0  convertible          rwd           front        88.6  ...          130
1  convertible          rwd           front        88.6  ...          130
2    hatchback          rwd           front        94.5  ...          152
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136
5        sedan          fwd           front        99.8  ...          136
6        sedan          fwd           front       105.8  ...          136

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0      111.0    5000.0       21
1         mpfi  3.47    2.68               9.0      111.0    5000.0       21
2         mpfi  2.68    3.47               9.0      154.0    5000.0       19
3         mpfi  3.19    3.40              10.0      102.0    5500.0       24
4         mpfi  3.19    3.40               8.0      115.0    5500.0       18
5         mpfi  3.19    3.40               8.5      110.0    5500.0       19
6         mpfi  3.19    3.40               8.5      110.0    5500.0       19

   highway-mpg    price
0           27  13495.0
1           27  16500.0
2           26  16500.0
3           30  13950.0
4           22  17450.0
5           25  15250.0
6           25  17710.0

[7 rows x 26 columns]

In [60]:
print(df_data.isnull().sum())

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [68]:
print(df_data["normalized-losses"].fillna(value = df_data["normalized-losses"].mean()))

0      122.0
1      122.0
2      122.0
3      164.0
4      164.0
       ...
200     95.0
201     95.0
202     95.0
203     95.0
204     95.0
Name: normalized-losses, Length: 205, dtype: float64